body, th, td, ul { 
	font-family: arial; 
	font-size: 12px;
}

a:link    { color: #003366; text-decoration: underline; }
a:visited { color: #003366; text-decoration: underline; }
a:hover   { color: #663300; text-decoration: none; }
a:active  { color: #663300; text-decoration: underline; }

table{
        text-align: left;  
}

pre {
	text-align: left;	
}

q {
    font-style: italic;
}

body {
	scrollbar-3dlight-color :  white;
	scrollbar-arrow-color : gray;
	scrollbar-base-color :  silver; 
	scrollbar-darkshadow-color : white;
	scrollbar-face-color : #DDDDDD;
	scrollbar-highlight-color :  white;
	scrollbar-shadow-color : white;
	scrollbar-track-color : white;
}

h1 {
	font-size : 24px; 
	font-family : verdana, arial;
}

h2 {
	font-size : 18px; 
	font-family : verdana, arial;
}

h3 {
	font-size : 14px;
	font-family : verdana, arial;
}

h4 {
	border-bottom: solid 1px #000000;
}

.textfooter {
	text-align : right;
	font-style : italic;
	font-size : 8pt;
}

.row1 {
	background-color: #DDDDDD;
}

.row2 {
	background-color: #D8D8D8;
}

.hdr {
	background-color: #b8b8b8;
	font-weight: bold;
}

.table, .wide_table {
	background-color: #999999;
	border-style: solid;
	border-width: 1px;	
	border-color: #999999;
}

.wide_table {
	width:90%;
}

.tdedit, .tdcont {
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 2px;
}

.tdedit {
	background-color: #E3E3E3;
	text-align: center;
}

.tdcont {
	background-color: #EEEEEE;
}

.tdframe {
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #EEEEEE;
}

.tdaction {
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #EEEEEE;
}

.important, a.important:link, a.important:visited, a.important:hover, a.important:active  {
	color: #E60000;
	font-weight: bold;
}

.headline {
	font-weight: bold;
	border-bottom: solid 1px #000000;
}

.normal {
	font-weight: normal;
}

ul { 
 	list-style-position: outside;
	list-style-type: square;
}
 
li {
	margin-top: 10px;
	text-align: justify;
}

.stat_gray
	{ color: #888888; }
.stat_red, .registered
	{ color: #bb0000; }
.stat_blue, .checked_out
	{ color: #0000bb; }
.stat_yellow, .checked_in
	{ color: #bb880b; }
.stat_green, .paid
	{ color: #007700; }



