{#SUB default}
<div class="card ">
  <div class="card-body">
		<div class="row">
			<div class="col-12">
        {#TABLE $items maxrows=100 width="90%" class="table table-bordered"}
          {#COL Rev $revision}<b><span{#WHEN "$revision == $dbversion" " class=\"important\""}>{$revision}</span></b>
          {#COL Autor $author}
          {#COL Datum $date style=white-space:nowrap;}{#DATE $date}
          {#COL Nachricht}{$msg}
        {#END}
			</div>
		</div>
	</div>
</div>
{#END}