{#SUB default}
<div class="card ">
	<div class="card-header">	
		<div class="row">
			<div class="col-12">
				<a href="dns.php?frame=dnsupdate" target="_blank">UpdateScript-Export</a>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-12">
      {#TABLE $dns maxrows=100}
        {#COL Domain %name}
        {#COL IP %ip}
        {#COL Besitzer %owner}<a href="user.php?frame=viewsubject&amp;id={$owner_id}">{%owner}</a>
      {#END}
			</div>
		</div>
	</div>
</div>
{#END}

{#SUB dnsupdate}
<div class="card ">
	<div class="card-body">
		<div class="row">
			<div class="col-12">
      {#FOREACH $dns}

      update delete {$name} A
      update add {$name} 600 A {$ip}

      {#END}
			</div>
		</div>
	</div>
</div>
{#END}