{#SUB default}
<div class="card ">
  <div class="card-body">
		<div class="row">
			<div class="col-12">
        <p>
          Alle bezahlten User als CSV-Datei: <a href="export.php?frame=csv">hier</a><br />
          Alle Sitzpl&auml;tze als CSV-Datei: <a href="export.php?frame=seats">hier</a>
        </p>
  			</div>
		</div>
	</div>
</div>
{#END}

