{#SUB default}
<h3><a href="dns.php?frame=dnsupdate" target="_blank">UpdateScript-Export</a></h3>
{#TABLE $dns maxrows=100}
  {#COL Domain %name}
  {#COL IP %ip}
  {#COL Besitzer %owner}<a href="user.php?frame=viewsubject&amp;id={$owner_id}">{%owner}</a>
{#END}
{#END}

{#SUB dnsupdate}
{#FOREACH $dns}

update delete {$name} A
update add {$name} 600 A {$ip}

{#END}
{#END}