{#IF !empty($link)}
<img src="{$link}" alt="{$caption}" width="{$width}" height="{$height}"{#FOREACH $param $val $key} {$key}="{$val}"{#END} />
{#ELSE}
  <table cellpadding="3" cellspacing="0" width="150" height="200" style="background-color:#FFF5F5; border: 1px solid #E8d0d0; color:#990000;">
    <tr><td>
      {%error}{#IF $editable} Du kannst das Bild <b><a href="content.php?frame=editimage&amp;name={$name}">hier erstellen.</a></b>{#END}
    </td></tr>
  </table>
{#END}
