{#SUB default}
	{$phpinfo}
{#END}

{#SUB extensions}
	{#TPL $description}
	<br />
	{#TABLE $extensions}
		{#COL "Modulname"}
			{#IF $required}
				<span style="color: #FF0000">{$name}</span>
			{#ELSE}
				<span style="color: #AAAA00">{$name}</span>
			{#END}
		{#COL "Status"}
			<span style="color: #00BB00"><b>{$present}</b></span>
	{#END}
	<br />
	{#TABLE $extensions_else}
		{#COL "Modulname"}{$name}
		{#COL "Status"}<i>Geladen</i>
	{#END}
{#END}