/*
 css-definitions used only by inc.page.tpl
*/

body {
	margin: 0px;
	text-align: center;
	font-family: sans-serif;
	font-size: 10px;	
}

form {
	margin:0px;
}

input.logined {
	background-color : #F0F0F0;
	font-family : arial;
	font-size : 10px;
	border-style : solid;
	border-width : 1px;
	width : 64px;
	border-color : gray;
}

input.loginbtn {
	font-family : arial;
	font-size : 10px;
	border-width : 0px;
	background-color : silver;
}

a.menulink0, a.menulinksel0 {
  font-size: 16px;
}

a.menulink0:link    { color: #C4C4C4; text-decoration: none; }
a.menulink0:visited { color: #C4C4C4; text-decoration: none; }
a.menulink0:hover   { color: #FFA500; text-decoration: none; }
a.menulink0:active  { color: #FFA500; text-decoration: underline; }

a.menulinksel0:link    { color: #EE5555; text-decoration: none; }
a.menulinksel0:visited { color: #EE5555; text-decoration: none; }
a.menulinksel0:hover   { color: #EE5555; text-decoration: none; }
a.menulinksel0:active  { color: #EE5555; text-decoration: underline; }

a.menulink1, a.menulinksel1 {
  font-size: 12px;
}

a.menulink1:link    { color: #333333; text-decoration: none; }
a.menulink1:visited { color: #333333; text-decoration: none; }
a.menulink1:hover   { color: #FFA500; text-decoration: none; }
a.menulink1:active  { color: #FFA500; text-decoration: underline; }

a.menulinksel1:link    { color: #ee4444; text-decoration: none; }
a.menulinksel1:visited { color: #ee4444; text-decoration: none; }
a.menulinksel1:hover   { color: #ee4444; text-decoration: none; }
a.menulinksel1:active  { color: #ee4444; text-decoration: underline; }